.App {
  text-align: center;
  background-color: #f0eee7;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.Home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Game {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
label,
.Game > a {
  background: linear-gradient(#336699, #003366);
  width: 49%;
  margin: 0.5%;
  margin-bottom: 0.5%;
  display: block;
  float: left;
  border-radius: 2px;
  padding: 0.33em;
  box-sizing: border-box;
  border: 1px solid #003366;
  color: white;
  cursor: pointer;
  font-size: 0.9em;
}

label:hover {
  background: linear-gradient(#225588, #002255);
}

label::before {
  padding-right: 0.33em;
  margin-right: 0.33em;
  border-right: 1px solid rgba(0, 0, 0, 0.3);
}

.Game button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}

.Game button:hover {
  background-color: #555555;
  color: white;
}

.Result {
  padding: 16px 32px;
}
.Result img {
  height: 5vmin;
  padding-right: 8px;
}

.Success {
  padding: 16px;
  border: 2px solid green;
  justify-content: center;
  align-items: center;
  display: flex;
}

.Failure {
  padding: 16px;
  border: 2px solid red;
}
